@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/poppins");

html {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Integral CF';
    src: url('/fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf') format('truetype'); /* Đường dẫn tới tệp font */
    /* Nếu bạn có các định dạng tệp font khác, hãy thêm chúng vào đây */
}

@font-face {
    font-family: "Inter";
}

@font-face {
    font-family: "Poppins";
}

header {
    padding: 20px 60px 0px 60px;
}

    header .header-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: transparent;
        width: 100%;
        z-index: 99;
    }

    header .header-button {
        padding: 16px 40px;
        background: #FFB800;
        border: 1px solid #FFB800;
        border-radius: 40px 0px 60px 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #494949;
    }

    header .header-fixed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .bg-menu {
        background-color: #ffffff;
    }

    header .hide {
        display: none;
    }

    header .menu {
        display: flex;
        gap: 0 24px;
    }

    header .menu-item {
        padding: 0 14px;
        display: flex;
        align-items: baseline;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        gap: 0 2px;
        position: relative;
    }

        header .menu-item .menu-icon-header {
            display: flex;
            padding-left: 5px;
        }

        header .menu-item .menu-dropdown {
            position: absolute;
            bottom: -10px;
            left: -7px;
            width: 100%;
            max-width: 100%;
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
        }

        header .menu-item .dropdown-item {
            padding: 10px 0;
            border-top: 1px solid #c4c4c4;
            text-align: center;
            white-space: unset;
        }

            header .menu-item .dropdown-item:hover {
                background-color: unset;
            }

        header .menu-item i {
            font-size: 15px;
        }

        header .menu-item span,
        header .menu-item a {
            color: #F0F0F0;
            transition: 0.2s;
            font-weight: 600;
            line-height: 22px;
            font-size: 18px;
            font-style: normal;
        }

            header .menu-item span:hover,
            header .menu-item a:hover {
                color: #FFB800;
                text-decoration: none;
            }

    header .menu-active.actived {
        color: #FFB800;
    }

    header .menu-item:hover > .menu-dropdown {
        opacity: 1;
        visibility: visible;
    }

    header .menu-item .menu-item-wrapper {
        display: flex;
    }

    header .download {
        display: flex;
        align-items: center;
        gap: 0 15px;
    }

    header .download-other {
        display: flex;
        align-items: center;
        gap: 0 15px;
    }

@media screen and (max-width: 1193px) {
    header {
        padding-inline: 20px;
        background-size: cover;
        background-position-x: 77%;
    }

        header .download-other {
            display: none;
        }

        header .download-item {
            flex-shrink: 0;
        }

            header .download-item:not(:nth-child(2)) {
                display: none;
            }

        header .logo img {
            width: 40px;
        }

        header .header-bar {
            display: flex;
            margin-left: auto;
            gap: 0 20px;
            align-items: center;
        }

        header .link-home {
            color: #0095d4;
            font-weight: bold;
            text-transform: uppercase;
        }

        header .header-fixed {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url("/images/BGTransMobile.png") center/cover no-repeat;
            width: 100%;
            z-index: 999;
            display: block;
            padding: 20px;
            transform: translateX(100%);
            transition: all 0.2s;
        }

            header .header-fixed.show {
                transform: translateX(0);
            }

        header .menu {
            display: block;
            margin-bottom: 20px;
        }

        header .menu-item {
            padding-bottom: 10px;
            display: block;
        }

            header .menu-item i {
                font-size: 20px;
                color: #FFB800;
            }

            header .menu-item span {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            header .menu-item:not(:first-child) {
                padding-top: 10px;
            }

        header .menu .menu-item.menu-home {
            display: flex;
            justify-content: space-between;
        }

        header .menu .menu-item-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

            header .menu .menu-item-wrapper img.visible-s.active {
                transform: rotate(-90deg);
            }

        header .menu .menu-dropdown {
            position: static;
            transform: translate(0);
            opacity: 1;
            visibility: visible;
            display: none;
        }

        header .menu .dropdown-item {
            text-align: left;
            padding-left: 20px;
        }

        header .header-cta {
            flex-wrap: wrap;
            max-width: 250px;
            margin: 0 auto;
            gap: 20px 0;
            justify-content: space-between;
        }

        header .header-cta-item:first-child {
            width: 100%;
        }

            header .header-cta-item:first-child form {
                width: 100%;
                display: flex;
            }

                header .header-cta-item:first-child form input {
                    border: 1px solid #667080;
                    border-radius: 4px 0 0 4px;
                    border-right: 0;
                    flex-basis: 80%;
                }

                header .header-cta-item:first-child form button {
                    border-radius: 0 4px 4px 0;
                }

        header .header-social {
            margin-top: 20px;
            display: flex;
            padding: 0 40px;
            justify-content: space-evenly;
        }
}

footer {
    border-top: 1px solid #4B4B4B;
    text-align: center;
    background: #111111;
    padding: 24px 0px 40px;
}

    footer .footer-top {
        display: flex;
        gap: 0px 7px;
        justify-content: center;
        font-family: "Integral CF", sans-serif;
        font-style: normal;
        align-items: center;
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

        footer .footer-top img {
            width: 40px;
        }

@media screen and (max-width: 768px) {
    footer .footer-top {
        justify-content: start;
    }
}

footer .footer-char {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #8E8E8E;
    line-height: 130%;
}

.icon-footer {
    color: #FFFFFF;
    font-size: 24px;
}

.icon-footer:hover {
    color: #FFB800;
}


footer .footer-bot {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    text-align: center;
    /* Neutral/04 */
    color: #8E8E8E;
}

footer .footer-menu {
    display: flex;
    gap: 0 40px;
    padding: 32px 0px 20px 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFB800;
    justify-content: center;
}

    footer .footer-menu a {
        color: white;
    }

        footer .footer-menu a:hover {
            color: #FFB800;
            text-decoration: none;
        }

footer .footer-menu-active {
    color: #FFB800 !important;
}

@media screen and (max-width: 768px) {
    footer .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
}

footer .footer-social {
    display: flex;
    gap: 0 12px;
    justify-content: center;
}

    footer .footer-social a {
        color: white;
    }

footer .footer-desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    max-width: 613px;
    text-align: center;
    font-feature-settings: "cpsp" on;
    /* Neutral/04 */
    color: #8E8E8E;
}

@media screen and (max-width: 768px) {
    footer .footer-desc {
        text-align: left;
        padding: 32px 0px 20px 0px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 32px 16px;
        text-align: unset;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Inter";
}

.body-home {
    background: url("../images/BG.png") center/cover no-repeat;
    background-position-y: initial;
}

@media screen and (max-width: 768px) {
    .body-home {
        background: url("../images/BG-mobile.svg") center/cover no-repeat;
    }
}

.body-transparency {
    background: url("../images/BGTRANSPARENCY.png") center/cover no-repeat;
}

@media screen and (max-width: 768px) {
    .body-transparency {
        background: url("../images/BGTransMobile.png") center/cover no-repeat;
    }
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

input,
textarea,
select,
button {
    outline: none;
    border: 0;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
    border: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul,
li {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.back-to-top {
    background-color: #FFB800;
    position: fixed;
    bottom: 60px;
    padding: 8px;
    right: 25px;
    z-index: 100;
    opacity: 0;
    transition: all 0.25s;
}

    .back-to-top.show {
        opacity: 1;
    }

@media screen and (max-width: 767px) {
    .back-to-top {
        bottom: 80px;
        right: 5px;
    }

    .visible-s {
        display: block;
    }

    .visible-lg {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-s {
        display: none !important;
    }

    .visible-lg {
        display: block;
    }
}

@media screen and (max-width: 1193px) {
    .visible-lg {
        display: none;
    }
}

h3 {
    font-weight: bold;
}

.blog-search {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

    .blog-search input[type=search] {
        margin: 0;
        font-size: 14px;
        color: #fff;
    }

.blog-search-txt {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #8E8E8E;
}

.blog-search-btn {
    background: #F0F0F0;
    border-radius: 40px;
    padding: 12px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    font-feature-settings: "cpsp" on;
    color: #494949;
}

.blog-search-btn:hover {
    background: #757575;
    color: #f5f5f5
}    
    
.blog-search-btn-active {
    background: #757575;
    color: #f5f5f5
}

.blog-search-tag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-insearch {
    padding: 9px 4px 9px 40px;
    background: transparent url("/images/PC_blog/iconSearch.svg") no-repeat 13px center;
    border: 2px solid #494949;
    border-radius: 40px;
}

.blog-button {
    background: #FFB800;
    border-radius: 40px 0px 40px 40px;
    padding: 16px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #494949;
}

.blog-trending .trending-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* Neutral/01 */
    color: #FFFFFF;
}

.blog-trending .readmore {
    position: absolute;
    display: none;
}

.blog-trending .trending-post {
    padding-top: 9%;
    padding-left: 10%;
    position: relative;
    max-width: 745px;
}

.blog-trending .trending-post-header {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    padding: 12px 0px;
    letter-spacing: 0.02em;
    color: #F0F0F0;
}

.blog-trending .trending-post-date {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    /* Primary/01 */
    color: #FFB800;
}

.blog-trending .trending-item {
    padding-top: 2%;
}

    .blog-trending .trending-item:nth-child(even) {
        display: flex;
        justify-content: right;
    }

        .blog-trending .trending-item:nth-child(even) .trending-post {
            padding-right: 10%;
            padding-left: 0%;
        }

    .blog-trending .trending-item:hover .readmore {
        display: block;
    }

.blog-trending .trending-btn {
    text-align: center;
    padding-top: 20px;
}

.blog-all {
    padding-top: 100px;
}

    .blog-all .blogall-title {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Integral CF", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
    }

    .blog-all .blogall-list {
        margin-left: auto;
    }

    .blog-all .blogall-btn {
        text-align: center;
        padding: 45px 0px 60px 0px;
    }

.blogall-item {
    padding-top: 40px;
    align-items: center;
}

.blogall-item-author {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #8E8E8E;
}

    .blogall-item-author i {
        color: #FFB800;
        padding-right: 3px;
    }

.blogall-item-title {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding-top: 4px;
    color: #BFBFBF;
}

.blogall-item-desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-feature-settings: "cpsp" on;
    padding: 4px 0px;
    color: #8E8E8E;
}

.blogall-item-btn button {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    font-feature-settings: "cpsp" on;
    background: transparent;
    padding: 8px 20px;
    border: 1px solid #494949;
    border-radius: 40px;
    color: #8E8E8E;
}

    .blogall-item-btn button:hover {
        background: #303030;
    }
.blogall-item-btn-active {
    background: #303030 !important;
}
.blogall-item-title:hover {
    color: #FFB800;
}

.blogall-item .blogall-hr {
    margin: 20px 0px 0px 15px;
    border-bottom: 1px solid #494949;
    width: 97%;
}

.blogall-item img {
    width: 100%;
    border-radius: 8px

}
.blog-trending .trending-post img {
    border-radius: 7px;
}
.btn-slide-active {
    color: #FFB800 !important;
}
@media screen and (max-width: 768px) {
    .blog-img-top img {
        width: 30% !important;
    }

    .blog-desc-top {
        padding: 0px 16px;
    }

    .blog-all .blogall-btn {
        padding: 0px 0px 30px 0px;
    }

    .blog-search {
        flex-direction: column-reverse;
        padding: 0px 30px;
        align-items: flex-start;
    }

        .blog-search .blog-insearch {
            width: 100%;
        }

    .blog-search-tag {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-search-btn {
        padding: 8px 20px;
    }

    .blog-trending .trending-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        padding-top: 40px;
        justify-content: center;
    }

    .blog-trending .readmore {
        display: block;
        padding: 0px 20px;
    }

    .blog-trending .trending-post {
        padding: 55px 55px 16px 55px;
    }



    .blog-trending .trending-post-header {
        font-weight: 800;
        font-size: 16px;
        line-height: 130%;
        padding: 5px 0px;
    }

    .blog-trending .trending-post-date {
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
    }

    .blog-trending .trending-item:nth-child(even) {
        display: block;
    }

        .blog-trending .trending-item:nth-child(even) .trending-post {
            padding: 55px 55px 16px 55px;
        }

    .blog-trending .trending-btn {
        padding-top: 0px;
    }

    .blog-button {
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        border-radius: 40px 0px 65px 40px;
        padding: 15px 30px;
    }

    .blog-all {
        padding-top: 40px;
    }

        .blog-all .blogall-title {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            justify-content: center;
        }

    .blogall-item-author {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: #FFB800;
        padding-top: 8px;
    }

    .blogall-item-title {
        font-weight: 800;
        font-size: 16px;
        line-height: 130%;
        color: #BFBFBF ;
        padding-bottom: 4px;
    }

       

    .blogall-item-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #8E8E8E;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis;
    }

    .blogall-item-btn {
        padding-top: 10px;
    }

    .carousel-inner {
        padding: 20px 15px;
        width: 90%;
        margin-left: 13%;
    }

    .carousel-item {
        width: 95%;
        min-height: 445px;
    }

    .carousel-item a img {
        width: 292px !important;
        height: 184px !important;
    }

    .carousel-control-next {
        left: 0;
        right: unset;
        top: 40%;
    }
    .carousel-control-next, .carousel-control-prev {
        height: 10%;
    }

    .carousel-control-prev {
        top: 50%;
    }
}

.contact {
    padding: 80px 0px 60px 0px;
}

@media screen and (max-width: 768px) {
    .contact .contact-content div {
        text-align: center;
    }
}

.contact .contact-title {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 96px;
    /* identical to box height */
    text-transform: uppercase;
    /* Neutral/01 */
    color: #FFFFFF;
    /* Heading Shadow */
    text-shadow: -3px 3px 0px #FFB800;
}

@media screen and (max-width: 768px) {
    .contact .contact-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        text-shadow: -1px 2px 0px #FFB800;
    }
}

.contact .contact-desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    padding: 12px 0px;
    font-feature-settings: "cpsp" on;
    /* Neutral/04 */
    color: #8E8E8E;
}

@media screen and (max-width: 768px) {
    .contact .contact-desc {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
    }
}

.contact .row {
    padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .contact .row {
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact .row:nth-child(2) {
        flex-flow: wrap-reverse;
    }
}

.contact .contact-btn {
    background: #FFB800;
    border-radius: 40px 0px 60px 40px;
    padding: 16px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    /* Neutral/05 */
    color: #494949;
}

@media screen and (max-width: 768px) {
    .contact .contact-btn {
        padding: 8px 20px;
        border-radius: 30px 0px 50px 30px;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        padding: 50px 0px 40px 0px;
    }
}

.transparency {
    background: transparent;
    padding-bottom: 60px;
}

    .transparency .transparency-left {
        padding: 20px;
        border: 2px solid #494949;
        border-radius: 0px 28px 28px 0px;
    }

    .transparency .transparency-right {
        padding: 20px;
        border: 2px solid #494949;
        border-radius: 28px;
    }

@media screen and (max-width: 768px) {
    .transparency .transparency-right {
        border-radius: 0px 28px 28px 0px;
    }
}

.transparency .transparency-title {
    font-family: "Integral CF", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #BFBFBF;
}

.transparency .transparency-number {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    /* Neutral/04 */
    color: #8E8E8E;
}

.progress {
    --bs-progress-bar-color: #BFBFBF;
    --bs-progress-height: 5px;
}

    .progress .bg-warning {
        background-color: #FFB800 !important;
        border-right: 2px solid #000;
    }

.bg-gradient-fixed {
    position: fixed;
    height: 500px;
    width: 500px;
}

    .bg-gradient-fixed.left {
        right: -280px;
        top: 0;
    }

    .bg-gradient-fixed.right {
        left: -280px;
        bottom: 0;
    }

.work {
    padding: 150px 80px;
}

.work-title {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    margin-bottom: 12px;
    font-size: 18.5395px;
    line-height: 130%;
    /* or 24px */
    text-align: center;
    /* Neutral/01 */
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .work-title {
        font-size: 8.53747px;
    }
}

.work .row {
    position: relative;
    justify-content: center;
    gap: 0 16px;
}

.work .col-md-5 {
    position: relative;
    background: url("../images/PC_work/bg-frame.svg") center/cover no-repeat;
    background-size: contain;
}

.work .work-border {
    width: 400.59px;
    height: 342.32px;
    opacity: 0.6;
    border-radius: 13px;
}

@media screen and (max-width: 768px) {
    .work .work-border {
        width: 141.26px;
        height: 120.71px;
    }
}

.work .work-content {
    position: absolute;
    height: 74px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0;
    width: max-content;
}

@media screen and (max-width: 768px) {
    .work .work-content {
        left: 4%;
        width: 94%;
    }
}

.work .work-item h3 {
    font-size: 16px;
    font-weight: 600;
    color: #494949;
    padding: 26px 40px;
    border-radius: 14px;
    background: linear-gradient(133.49deg, #FFE259 1.03%, #DD7815 105.35%);
}

@media screen and (max-width: 768px) {
    .work .work-item h3 {
        padding: 9.33924px 14.0089px;
        font-weight: 600;
        font-size: 5.60354px;
        border-radius: 4.66962px;
    }
}

.work .work-item span {
    font-weight: 600;
}

.work .work-item.item-center {
    position: relative;
}

    .work .work-item.item-center h3 {
        max-width: 175px;
    }

    .work .work-item.item-center span {
        width: 209px;
        left: 50%;
        transform: translate(-50%, 100%);
        bottom: -10px;
        position: absolute;
        background-color: #111111;
    }

@media screen and (max-width: 768px) {
    .work .work-item.item-center span {
        font-weight: 600;
        font-size: 8.60354px;
        width: 120px;
    }
}

.work .work-arrow-wrap {
    overflow: hidden;
}

    .work .work-arrow-wrap span {
        font-weight: 600;
    }

    .work .work-arrow-wrap.arrow-first .work-arrow-right img {
        transform: translateX(-100%);
        animation: toright 2s 0s linear forwards;
    }

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-first .work-arrow-right span {
        font-size: 7.60354px;
    }
}

.work .work-arrow-wrap.arrow-first .work-arrow-left img {
    transform: translateX(100%);
    animation: toleft 2s 2s linear forwards;
}

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-first .work-arrow-left span {
        font-size: 7.60354px;
    }
}

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-first {
        width: 225px;
        padding-bottom: 8px;
    }
}

.work .work-arrow-wrap.arrow-second .work-arrow-right img {
    transform: translateX(-100%);
    animation: toright 2s 4s linear forwards;
}

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-second .work-arrow-right span {
        font-size: 7.60354px;
    }
}

.work .work-arrow-wrap.arrow-second .work-arrow-left img {
    transform: translateX(100%);
    animation: toleft 2s 6s linear forwards;
}

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-second .work-arrow-left span {
        font-size: 7.60354px;
    }
}

@media screen and (max-width: 768px) {
    .work .work-arrow-wrap.arrow-second {
        width: 226px;
        padding-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .work {
        padding: 80px 20px;
    }
}

@keyframes toright {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes toleft {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

.detailblog {
    padding: 80px 20px;
}

    .detailblog img {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .detailblog .detailblog-header {
        font-family: "Integral CF", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 30px;
        color: #F0F0F0;
    }

    .detailblog .detailblog-author {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #8E8E8E;
    }

        .detailblog .detailblog-author i {
            color: #FFB800;
        }

        .detailblog .detailblog-author span {
            padding-right: 30px;
        }

        .detailblog .detailblog-author img {
            padding-bottom: 50px;
        }

    .detailblog .detailblog-title {
        font-family: "Integral CF", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0px;
        color: #F0F0F0;
    }

    .detailblog .detailblog-desc {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        font-feature-settings: "cpsp" on;
        /* Neutral/04 */
        color: #8E8E8E;
    }

        .detailblog .detailblog-desc .txt-yellow {
            color: #FFB800;
        }

.detail-trending {
    padding: 80px 0px 50px 0px;
}

.detail-trending-title {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.detail-trending .main {
    display: block;
    margin-left: 9%;
}
    .detail-trending .main .slick-arrow {
        cursor: pointer;
    }

    .detail-trending .main .slick-arrow:hover {
        color: #FFB800;
    }

    .detail-trending .main .slide-date {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        font-feature-settings: "cpsp" on;
        padding-top: 8px;
        color: #FFB800;
    }

    .detail-trending .main .slide-title {
        font-family: "Integral CF", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 130%;
        padding: 4px 0px;
        letter-spacing: 0.02em;
        color: #BFBFBF;
    }

    .detail-trending .main .slide-title:hover {
        color: #FFB800;
    }

    .detail-trending .main .slide-desc {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        /* or 21px */
        font-feature-settings: "cpsp" on;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #8E8E8E;
    }

    .detail-trending .main .slide-btn {
        padding-top: 4px;
    }

        .detail-trending .main .slide-btn button {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            font-feature-settings: "cpsp" on;
            background: transparent;
            padding: 8px 20px;
            border: 1px solid #494949;
            border-radius: 40px;
            color: #8E8E8E;
        }

    .detail-trending .main .slick-prev {
        top: 54%;
        position: absolute;
        left: -8%;
        font-size: 50px;
        color: #494949;
    }

    .detail-trending .main .slick-next {
        top: 35%;
        position: absolute;
        left: -5%;
        left: -8%;
        font-size: 50px;
        color: #494949;
        border-bottom: 2px solid #494949;
    }

    .detail-trending .main .slider-hr {
        width: 45px;
        left: 4%;
        margin-top: 200px;
        left: 3.8%;
        border-top: 2px solid #494949;
        position: absolute;
    }

.detail-trending .slick-slide {
    padding-right: 20px;
}

    .detail-trending .slick-slide img {
        width: 100%;
    }

.detail-trending .btn-readmore {
    text-align: center;
    padding-top: 50px;
}

    .detail-trending .btn-readmore a {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        background: #FFB800;
        border-radius: 40px 0px 60px 40px;
        padding: 16px 40px;
        color: #494949;
    }

@media screen and (max-width: 768px) {
    .detailblog {
        padding: 60px 20px 10px 20px;
    }

        .detailblog .detailblog-header {
            font-size: 22px;
            line-height: 26px;
            text-align: center;
        }

        .detailblog .detailblog-author {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
        }

            .detailblog .detailblog-author span:nth-child(3) {
                display: block;
                padding-top: 4px;
            }

        .detailblog .detailblog-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }

        .detailblog .detailblog-desc {
            font-weight: 500;
            font-size: 12px;
            line-height: 130%;
        }

    .detail-trending {
        padding: 40px 0px 20px 0px;
    }

    .detail-trending-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 0px;
    }

    .detail-trending .btn-readmore {
        padding: 20px 0px 20px 0px;
    }

        .detail-trending .btn-readmore a {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            padding: 8px 20px;
            border-radius: 30px 0px 50px 30px;
        }

    .carousel-control-next-icon {
        background-image: unset;
        font-size: 40px;
        color: #494949;
        margin-bottom: 40px;
    }

    .carousel-control-prev-icon {
        background-image: unset;
        font-size: 40px;
        color: #494949;
        margin-top: 20px;
    }

    .carousel-control-next, .carousel-control-prev {
        opacity: unset;
    }

    .carousel-control-hr {
        position: absolute;
        width: 10%;
        border-top: 2px solid #494949;
        top: 50%;
        left: 3%;
    }
}

.text-about {
    text-align: center;
    padding: 60px 80px 80px 80px;
}

.text-about-top {
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    .text-about-top img {
        width: 98%;
    }
}

.text-about-mid {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 96px;
    /* identical to box height */
    padding: 12px 0px;
    /* Neutral/01 */
    color: #FFFFFF;
    /* Heading Shadow */
    text-shadow: -3px 3px 0px #FFB800;
}

@media screen and (max-width: 768px) {
    .text-about-mid {
        font-weight: 700;
        font-size: 28px;
        line-height: 31px;
        padding: 0px 0px 12px 0px;
        text-shadow: -1px 2px 0px #FFB800;
    }
}

.text-about-star {
    display: flex;
    justify-content: right;
}

.text-about-dong {
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .text-about-dong {
        gap: 0px;
    }
}

.text-about-desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    max-width: 600px;
    text-align: center;
    font-feature-settings: "cpsp" on;
    /* Neutral/04 */
    color: #8E8E8E;
}

@media screen and (max-width: 768px) {
    .text-about-desc {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
    }
}

.text-about-button {
    background: #FFB800;
    border-radius: 40px 0px 60px 40px;
    padding: 16px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #494949;
}

@media screen and (max-width: 768px) {
    .text-about-button {
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        padding: 8px 20px;
        border-radius: 30px 0px 50px 30px;
    }
}

@media screen and (max-width: 768px) {
    .text-about {
        padding: 32px 16px;
    }
}

.information {
    padding: 40px 0px 20px 0px;
}

    .information .infor-box {
        padding-bottom: 100px;
    }

@media screen and (max-width: 768px) {
    .information .infor-box {
        display: flex;
        justify-content: center;
    }
}

.information .infor-box:nth-last-child(1) {
    padding-bottom: 20px;
}

.information .infor-item {
    background: rgba(73, 73, 73, 0.2);
    position: relative;
    border-radius: 12px;
    border: 0.2px solid transparent;
    padding: 20px 16px;
    /*backdrop-filter: blur(5px);*/
}

.information .infor-item-title {
    font-family: "Integral CF", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #BFBFBF;
}

.information .infor-item-desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding-top: 12px;
    font-feature-settings: "cpsp" on;
    color: #494949;
}

.information .infor-item-yellow {
    color: #FFB800;
    font-size: 32px;
}

.information .infor-item-image {
    opacity: 0;
}

    .information .infor-item-image .icon-libra {
        position: absolute;
        left: 90%;
        bottom: 65%;
        z-index: 3;
    }

    .information .infor-item-image .icon-circle {
        position: absolute;
        right: 95.7%;
        bottom: 75%;
    }

    .information .infor-item-image .icon-triangle {
        position: absolute;
        bottom: 5%;
        left: 96%;
    }

    .information .infor-item-image .icon-11 {
        z-index: 3;
        position: absolute;
        bottom: 70%;
        left: 85%;
    }

    .information .infor-item-image .icon-circle2 {
        position: absolute;
        right: 95%;
        top: 78%;
    }

    .information .infor-item-image .icon-paint1 {
        position: absolute;
        bottom: -26%;
        left: 71%;
    }

    .information .infor-item-image .icon-smallCircle {
        position: absolute;
        left: -13%;
        top: 57%;
    }

    .information .infor-item-image .icon-circleback {
        z-index: 3;
        position: absolute;
        bottom: 70%;
        left: 85%;
    }

    .information .infor-item-image .icon-circleItem3 {
        position: absolute;
        right: 97%;
        top: 4%;
    }

    .information .infor-item-image .icon-double {
        position: absolute;
        bottom: -16%;
        left: 15%;
    }

    .information .infor-item-image .icon-smallCircleItem3 {
        position: absolute;
        left: 1%;
        top: -17%;
    }

    .information .infor-item-image .icon-circlecheck {
        z-index: 3;
        position: absolute;
        bottom: 73%;
        left: 89%;
    }

    .information .infor-item-image .icon-paint1Item4 {
        position: absolute;
        bottom: -29%;
        left: 10%;
    }

    .information .infor-item-image .icon-paint2Item4 {
        position: absolute;
        bottom: 92%;
        left: 42%;
    }

.information .infor-box:nth-child(odd) {
    justify-content: flex-end;
    display: flex;
}

@media screen and (max-width: 768px) {
    .information .infor-box:nth-child(odd) {
        justify-content: center;
    }
}

.infor-item:hover {
    animation: showBorder 1s ease-in-out forwards;
    box-shadow: 4px 4px 16px rgba(255, 184, 0, 0.2);
    /* Note: backdrop-filter has minimal browser support */
}

    .infor-item:hover .infor-item-desc {
        color: #BFBFBF;
    }

    .infor-item:hover .infor-item-image {
        animation: showItemImg 1s ease-in-out forwards;
    }

    .infor-item:hover .infor-item-image .icon-libra {
        animation: showItem1 1.4s ease-in-out forwards;
    }

    .infor-item:hover .infor-item-image .icon-11 {
        animation: showItem2 1.4s ease-in-out forwards;
    }

    .infor-item:hover .infor-item-image .icon-circleback {
        animation: showItem3 1.4s ease-in-out forwards;
    }

    .infor-item:hover .infor-item-image .icon-circlecheck {
        animation: showItem4 1.4s ease-in-out forwards;
    }



.infor-item-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.2);
    backdrop-filter: blur(5px);
    z-index: 2; /* Đặt z-index cao hơn so với ảnh */
}

@keyframes showBorder {
    from {
        border: 0.2px solid transparent;
        ; /* Start font-size at 0 */
    }

    to {
        border: 0.2px solid #FFB800; /* End font-size at 16 */
    }
}

@keyframes showItemImg {
    from {
        opacity: 0;
        ; /* Start font-size at 0 */
    }

    to {
        opacity: 1; /* End font-size at 16 */
    }
}


@keyframes showItem1 {
    from {
        width: 50px; /* Start font-size at 0 */
    }

    to {
        width: 110px; /* End font-size at 16 */
    }
}

@keyframes showElement {
    from {
        opacity: 1; /* Start font-size at 0 */
    }

    to {
        opacity: 0; /* End font-size at 16 */
    }
}

@keyframes showItem2 {
    0% {
        width: 80px;
        height: 70px;
        transform: rotate(240deg);
    }

    100% {
        width: 130px;
        height: 121px;
        transform: rotate(360deg);
    }
}

@keyframes showItem3 {
    0% {
        width: 0px;
        height: 0px;
        transform: rotate(200deg);
    }

    100% {
        width: 135px;
        height: 136px;
        transform: rotate(360deg);
    }
}

@keyframes showItem4 {
    0% {
        width: 0px;
        height: 0px;
        transform: rotate(200deg);
    }

    100% {
        width: 107px;
        height: 136px;
        transform: rotate(360deg);
    }
}

/*# sourceMappingURL=app.css.map */
